<f:layout name="Backend"/>

<f:section name="Content">

	<h1>
		<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:module.title"/>
	</h1>

	<h2>Cache View <small>(Page ID {pageId})</small></h2>

	<p>
		<f:translate
			key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:module.intro.{backendDisplayMode}"/>
	</p>

	<f:form action="list" class="form-inline">
		Filter:
		<f:form.select name="filter" options="{all: 'All', cached: 'Cached', notCached: 'Not cached'}" class="form-control" value="{filter}" />
		<f:form.submit value="Set!" class="btn btn-primary" />
	</f:form>

	<table class="table table-striped">
		<tr>
			<th class="col-sm-3">
				<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:page"/>
			</th>
			<th class="col-sm-7">
				<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:identifier"/>
			</th>
			<th class="col-sm-1">
				<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:created"/>
			</th>
			<th class="col-sm-1">
				<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:expires"/>
			</th>
		</tr>

		<f:if condition="{rows}">
			<f:then>
				<f:for each="{rows}" as="row">
					<f:render partial="Backend/ListEntry" arguments="{row:row}"/>
				</f:for>
			</f:then>
			<f:else>
				<tr>
					<td colspan="4">{f:translate(key:
						'LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:entriesEmpty')}
					</td>
				</tr>
			</f:else>
		</f:if>
	</table>

	<f:link.action action="support" class="btn btn-success">
		Do you like the extension? Support new features...
	</f:link.action>
</f:section>

<f:section name="Menu">
	<f:render partial="Backend/Menu" />
</f:section>
