<f:layout name="Backend"/>

<f:section name="Content">

	<h1>
		Support / Dokumentation
	</h1>

	<h2>Configuration Test</h2>

	<f:if condition="{foundHtaccess}">
		<f:then>
			<div class="alert alert-info" role="alert">We found StaticFileCache information in the htaccess file. If the configuration is the most current you have to check by youself.</div>
		</f:then>
		<f:else>
			<div class="alert alert-warning" role="alert">
				<p>
					The backend module couldn't find the StaticFileCache configuration in the htaccess files (paths below). Perhaps you configure the rules in the Webserver, you do not use an Apache webserver or you are using composer packages like typo3-secure-web (move the public folder away). But: In most cases the configuration is missing (note: We search for "SFC_FULLPATH" in the .htaccess file). Mind that this check is informative: to make sure StaticFileCache works, enable basic.debugHeaders and check for the x-sfc headers on your pages. x-sfc-status: TYPO3 - already in cache means that the .htaccess rewrite works as expected.
				</p>
				<ul>
					<f:for each="{htaccessPaths}" as="path">
						<li>{path}</li>
					</f:for>
				</ul>
			</div>
		</f:else>
	</f:if>

	<f:if condition="{missingModules -> f:count()}">
		<f:then>
			<div class="alert alert-warning" role="alert">We couldn't find the required apache modules for the htaccess configuration:
				<f:for each="{missingModules}" as="mod">
					{mod}
				</f:for>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-info" role="alert">We found the required apache modules in your installation.</div>
		</f:else>
	</f:if>

	<f:if condition="{useCrawler}">
		<f:then>
			<div class="alert alert-warning" role="alert">You are using EXT:crawler. Please check this issue if there are problems with wrong page contents in the cache: https://github.com/lochmueller/staticfilecache/issues/260</div>
		</f:then>
		<f:else>
			<div class="alert alert-info" role="alert">You don't use crawler. EXT:crawler could result in some useless cache entries: https://github.com/lochmueller/staticfilecache/issues/260</div>
		</f:else>
	</f:if>

	<h2>Support the extension development...</h2>
	<p>
		<a href="https://www.paypal.me/lochmueller/100" target="_blank" class="btn btn-lg btn-success">
			<core:icon identifier="brand-paypal"/>
			PayPal
		</a>
		<a href="https://www.amazon.de/hz/wishlist/ls/SWHV1AQPUTH9" target="_blank" class="btn btn-success">
			<core:icon identifier="brand-amazon"/>
			Amazon
		</a>
	</p>

	<h2>Documentation and issue tracker...</h2>
	<p>
		<a class="btn btn-info" href="https://github.com/lochmueller/staticfilecache/blob/master/README.md" target="_blank">
			<core:icon identifier="documentation-book"/>
			Documentation
		</a>

		<a class="btn btn-info" href="https://github.com/lochmueller/staticfilecache/issues" target="_blank">
			<core:icon identifier="documentation-book"/>
			Issue tracker
		</a>

		<a class="btn btn-warning" href="https://github.com/lochmueller/staticfilecache/issues/new?labels=bug&template=Bug_report.md&body={envInfoLink}" target="_blank">
			<core:icon identifier="documentation-book"/>
			Create Bug Report incl. Env details
		</a>
	</p>
	<p>
		<h2>Environment information (for bug reports)</h2>
		<pre>{envInfoMarkdown}</pre>
	</p>
</f:section>

<f:section name="Menu">
	<f:render partial="Backend/Menu" />
</f:section>


