<f:layout name="Backend"/>

<f:section name="Content">

	<h1>
		Support / Dokumentation
	</h1>

	<h2>Support the extension development...</h2>
	<p>
		<a href="https://www.patreon.com/lochmueller" target="_blank" class="btn btn-success">
			<core:icon identifier="brand-patreon"/>
			Patreon
		</a>
		<a href="https://www.amazon.de/hz/wishlist/ls/SWHV1AQPUTH9" target="_blank" class="btn btn-success">
			<core:icon identifier="brand-amazon"/>
			Amazon
		</a>
		<a href="https://www.paypal.me/lochmueller/100" target="_blank" class="btn btn-success">
			<core:icon identifier="brand-paypal"/>
			PayPal
		</a>
	</p>

	<h2>Documentation and issue tracker...</h2>
	<p>
		<a class="btn btn-info" href="https://github.com/lochmueller/staticfilecache/blob/master/README.md" target="_blank">
			<core:icon identifier="documentation-book"/>
			Documentation
		</a>

		<a class="btn btn-info" href="https://github.com/lochmueller/staticfilecache/issues" target="_blank">
			<core:icon identifier="documentation-book"/>
			Issue tracker
		</a>
	</p>
</f:section>

<f:section name="Menu">
	<f:render partial="Backend/Menu" />
</f:section>


