{escaping off}
<f:if condition="{sendCacheControlHeader}">
<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType text/html {mode}{lifetime}
</IfModule>
</f:if>
<f:if condition="{sendCacheControlHeaderRedirectAfterCacheTimeout}">
<IfModule mod_rewrite.c>
	RewriteEngine On

	<f:comment>
		Explicitly prevent direct access here. This is needed because the .htaccess
		access check in the root dir is overwritten by the RewriteRules defined here.
	</f:comment>
	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule .* - [F,L]

	RewriteCond %<![CDATA[{TIME}]]> ><f:format.date format="YmdHis">@{expires}</f:format.date>
	RewriteRule ^.*$ /index.php
</IfModule>
</f:if>
<f:if condition="{responseHeaders}">
	<ifModule mod_headers.c>
		<f:for each="{responseHeaders}" key="name" as="value">
			Header set {name} "{value}"
		</f:for>
	</ifModule>
</f:if>
<f:if condition="{sendTypo3Headers}"><f:if condition="{typo3headers -> f:count()}">
	<ifModule mod_headers.c>
		<f:for each="{typo3headers}" key="name" as="value">
			Header set {name} "{value}"
		</f:for>
	</ifModule>
</f:if></f:if>
<f:if condition="{tags}">
	<ifModule mod_headers.c>
		Header set {tagHeaderName} "{tags}"
	</ifModule>
</f:if>

<f:if condition="{httpPushHeaders}">
	<ifModule mod_headers.c>
		<f:for each="{httpPushHeaders}" as="header">
				Header add Link "<{header.path}>; rel=preload; as={header.type}"
		</f:for>
	</ifModule>
</f:if>

<f:if condition="{sendStaticFileCacheHeader}">
	<ifModule mod_headers.c>
		Header set "X-Cache" "StaticFileCache"
	</ifModule>
</f:if>



<f:if condition="{debug}">
	<ifModule mod_headers.c>
		Header set "X-SFC-State" "StaticFileCache - via htaccess"
	</ifModule>
</f:if>
