<h1>
	<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:module.title"/>
</h1>

<h2>Cache View</h2>

<p>
	<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:module.intro.{backendDisplayMode}"/>
</p>

<f:flashMessages/>

<table class="table table-striped">
	<tr>
		<th class="col-sm-3">
			<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:page"/>
		</th>
		<th class="col-sm-7">
			<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:identifier"/>
		</th>
		<th class="col-sm-1">
			<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:created"/>
		</th>
		<th class="col-sm-1">
			<f:translate key="LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:expires"/>
		</th>
	</tr>

	<f:if condition="{rows}">
		<f:then>
			<f:for each="{rows}" as="row">
				<f:render section="singleEntryRow" arguments="{row:row}"/>
			</f:for>
		</f:then>
		<f:else>
			<tr>
				<td colspan="4">No entries on this level of the page tree.</td>
			</tr>
		</f:else>
	</f:if>
</table>
<p>
	<a class="btn btn-danger" href="{requestUri}&ACTION[removeExpiredPages]=1"
		 onclick="return confirm('Are you sure?');">
		<core:icon identifier="actions-delete"/>
		{f:translate(key: 'LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:removeAllExpired')}
	</a>
	<a href="{requestUri}&ACTION[removeExpiredPages]=0" class="btn btn-default">
		<core:icon identifier="actions-system-refresh"/>
		{f:translate(key: 'LLL:EXT:staticfilecache/Resources/Private/Language/locallang.xlf:refresh')}
	</a>
</p>

<h2>Configuration</h2>
<p>
	<a class="btn btn-info" href="https://github.com/lochmueller/staticfilecache/blob/master/README.md" target="_blank">
		<core:icon identifier="documentation-book"/>
		Documentation
	</a>
</p>

<h2>Support</h2>

<a href="https://www.amazon.de/hz/wishlist/ls/SWHV1AQPUTH9" target="_blank" class="btn btn-success">
	<core:icon identifier="brand-amazon"/>
	Amazon
</a>
<a href="https://www.paypal.me/lochmueller/100" class="btn btn-success">
	<core:icon identifier="brand-paypal"/>
	PayPal
</a>


<f:section name="singleEntryRow">
	<tr>
		<td>
			<f:format.raw>{row.title}</f:format.raw> <i>[{row.uid}]</i>
		</td>
		<td><a href="{row.identifier}">{row.identifier}</a>
			<f:if condition="{row.info.explanation -> f:count()}">
				<f:then>
					<core:icon identifier="status-status-permission-denied"/>
				</f:then>
				<f:else>
					<core:icon identifier="status-status-permission-granted"/>
				</f:else>
			</f:if>
		</td>
		<td>
			<f:if condition="{row.info.explanation -> f:count()}">
				<f:then>
					<core:icon identifier="status-status-permission-denied"/>
				</f:then>
				<f:else>
					<f:format.date format="d-m-Y H:i">@{row.info.created}</f:format.date>
				</f:else>
			</f:if>
		</td>
		<td>
			<f:if condition="{row.info.explanation -> f:count()}">
				<f:then>
					<core:icon identifier="status-status-permission-denied"/>
				</f:then>
				<f:else>
					<f:format.date format="d-m-Y H:i">@{row.info.expires}</f:format.date>
				</f:else>
			</f:if>
		</td>
	</tr>
	<f:if condition="{row.info.explanation -> f:count()}">
		<f:then>
			<tr>
				<td colspan="4" class="danger">
					<ul>
						<f:for each="{row.info.explanation}" as="explanation">
							<li>
								{explanation}
							</li>
						</f:for>
					</ul>
				</td>
			</tr>
		</f:then>
	</f:if>
</f:section>
