name: Test
on: [ push,pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.3', '8.4', '8.5' ]
        typo3: [ '14' ]
    steps:
      - uses: actions/checkout@v6
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: imagick
      - name: Composer install
        run: composer require typo3/minimal="^${{ matrix.typo3 }}" --dev --optimize-autoloader --prefer-dist
      - name: Composer code-check
        run: composer code-check
      - name: Composer code-test
        run: composer code-test
